{% extends "Portfolio/Base.html" %}

{%block titulo %}
<title>Transito</title>
{%endblock titulo %}

{% block contenido %}
<h1>Transitos disponibles</h1>

<form action="{% url 'buscar_transito' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar">
</form>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {% for transit in transito %}
    <tr>
      <td>{{ transit.nombre }}</td>
      <td><a href="{%url 'ver_transitos' transit.id %}">Ver</a></td>
      <td><a href="{%url 'editar_transitos' transit.id %}">Editar</a></td>
      <td>Eliminar</td>
    </tr> 
    {% endfor %} 
  </tbody>
</table>

<a href="{%url "crear_transitos" %}"><h5>Unite a los transitos!</h5></a>
{% endblock contenido %}